<!-- example property binding [disabled] & event binding (click) -->
<form action="">
  <label for="serverName">Server Name</label>
  <input
    id="serverName"
    name="serverName"
    type="text"
    class="form-control"
    [(ngModel)]="newName"
  />
  <span class="help-block">{{ serverCreationStatus }}</span>
  <button
    class="btn btn-primary"
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
  >
    Add Server
  </button>
</form>
<span *ngIf="serverCount > 0; else noServer">{{
  serverCount + " Servers created"
}}</span>
<ng-template #noServer>
  <span>No Server created</span>
</ng-template>
<hr />
<app-server *ngFor="let server of servers" [server]="server"></app-server>
