<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-primary">Angular Complete Guide App</h1>
      <hr />
      <app-servers></app-servers>
      <button class="btn btn-md btn-primary" (click)="onToggleDetails()">
        Toggle Details
      </button>
      <span class="btn btn-md" *ngIf="showDetails"> Details </span>
      <ul>
        <li
          *ngFor="let logItem of toggleLog"
          [ngStyle]="{ backgroundColor: logItem.count > 4 && 'blue' }"
          [ngClass]="{ 'text-white': logItem.count > 4 }"
        >
          {{ logItem.count }} at {{ logItem.time }}
        </li>
      </ul>
    </div>
  </div>
</div>
